[submodule "third_party/turborc"]
	path = third_party/turborc
	url = https://github.com/powturbo/Turbo-Range-Coder.git
[submodule "third_party/CLI11"]
	path = third_party/CLI11
	url = https://github.com/CLIUtils/CLI11
[submodule "third_party/fse"]
	path = third_party/fse
	url = https://github.com/Cyan4973/FiniteStateEntropy.git
