[submodule "third_party/finitestateentropy"]
	path = third_party/finitestateentropy
	url = https://github.com/cyan4973/finitestateentropy.git
[submodule "third_party/turborc"]
	path = third_party/turborc
	url = https://github.com/powturbo/Turbo-Range-Coder.git
